
  body {
    margin: 50px 150px 0 150px;
  
  }

  .logo {
      
      background-color:black;
      font-size: 0.8cm;
      padding-bottom: 0.5cm;
      
        
     
  }
  
  #logo-img {
    height: 80px;
    
  }

  

  